header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  .header__logo {
    padding: 10px 20px;
    color: $red;
    font-size: 45px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65.5px;
    .fas.fa-search {
      font-size: 20px;
      line-height: 1.1111111111;
    }
    li {
      font-size: 18px;
      line-height: 1.125;
      font-weight: 600;
      text-transform: uppercase;
      a {
        padding: 13px 20px;
      }
      .header__btn {
        border-radius: 5px;
        background-color: white;
        color: $bg;
        transition: background-color 500ms ease-in-out;
        &:hover {
          background-color: $red;
        }
      }
    }
  }
}
