/* 전체 설정 */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* selector 앞에 부모 태그가 div라면 생략 가능하나, 그렇지 않다면 적어주는 것이 베스트 */

/* header */
#header_center {
  position: relative;
  height: 140px;
  background-color: #fff;
  border-bottom: 1px solid #e4e8eb;
}

#group_flex {
  position: relative;
  width: 1130px;
  height: 90%;
  margin: 0 auto;
  padding: 0 30px;
}

#header_center h1 {
  width: 280px;
}

#header_search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 20px;
}

#header_search h1 {
  margin: 0px 10px;
  width: 224px;
  height: 55px;
  position: relative;
  aspect-ratio: auto;
  background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png)
    0px -159px no-repeat;
  background-size: 457px 434px;
  text-indent: -100%;
  overflow: hidden;
  vertical-align: middle;
}

/* display를 none으로 처리를 하면 비장애인 뿐만 아니라 장애인에게도 보이지 않는다.
즉, 스크린 리더가 display none 처리가 된 태그는 읽지 않는다는 것!
그럼에도 불구하고 h2를 여기서 쓰는 이유는 HTML의 구조로써 나타내기 위함이다. */
#header_search h2 {
  display: none;
}

/* 그렇다면 비장애인에게는 보이지 않지만 장애인에게는 보이도록 하기 위해서는 어떻게 해야할까?
아래와 같이 clip을 사용해서 접근성을 높혀줄 수 있다. 단 width, height가 0이면 읽을 수가 없다. */
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#header_search form {
  display: inline-block;
  margin: 0;
}

#header_search fieldset {
  margin: 0px;
  width: 520px;
  height: 50px;
  border: 2px solid #19ce60;
  vertical-align: middle;
  position: relative;
}

#header_search fieldset input {
  border: none;
  outline: none;
  padding: 0;
  position: relative;
  top: -1px;
  left: -7px;
  width: 427px;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
}

#header_search button {
  position: absolute;
  top: -2px;
  left: 516px;
  width: 50px;
  height: 50px;
  padding: 0px;
  border: 1px solid #19ce60;
  background-color: #19ce60;
}

#header_search button .ico_search_research {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
  background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) -419px
    0px no-repeat;
  background-size: 456px 434px;
}

#search_keyboard {
  display: inline-block;
  position: relative;
  top: 17px;
  left: 30px;
  width: 20px;
  height: 12px;
  vertical-align: top;
  margin: -6px 0 0 -10px;
  background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) -419px -381px
    no-repeat;
  background-size: 456px 434px;
}

#search_history {
  display: inline-block;
  position: relative;
  top: 14px;
  left: 36px;
  width: 10px;
  height: 5px;
  background-repeat: no-repeat;
  vertical-align: top;
  background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) -408px -77px
    no-repeat;
  background-size: 457px 434px;
}

/* header-nav */
#header_top_bar {
  position: absolute;
  top: 12px;
  right: 0px;
}

#header_top_bar span {
  margin-right: 13px;
  font-size: small;
}

#gnb {
  border-bottom: 1px solid #e4e8eb;
}

#gnb .nav_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 1110px;
  padding: 0;
  margin: 0 auto;
}

.gnb_inner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 5px 0;
}

.nav_special_list,
.nav_fav_list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
}

.nav_weather {
  padding: 0 5px;
}

.nav_list_item,
.nav_fav_item {
  padding: 0 7px;
}

.nav {
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.3px;
}

.nav_list_item a {
  color: #03cf5d;
}

.nav_list_item a:visited {
  color: #03cf5d;
}

/* main */
main {
  position: relative;
  width: 1150px;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

#main_scr {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

/* main-column-left */
.scr_left {
  float: left;
  width: 735px;
}

/* newsstand */
.newsstand {
  width: 735px;
  height: 314px;
}

.newsstand .newsstand_title {
  height: 56px;
  padding: 22px 0 16px;
  font-size: 14px;
  line-height: 18px;
}

.newsstand .newsstand_title .link_newsstand {
  float: left;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.newsstand .newsstand_title > span {
  float: left;
  font: 17px bold;
  color: #707070;
  padding-left: 5px;
  text-align: center;
}

.newsstand .newsstand_title .sort_area {
  float: left;
  margin-left: 10px;
}

.newsstand .newsstand_title .btn_sort {
  color: #505050;
}

.newsstand .newsstand_title .link_newsstand span {
  font: 16px bold;
  color: #909090;
  padding: 0 5px;
}

.newsstand .newsstand_title .btn_sort[aria-selected="true"] {
  color: #000;
  font-weight: 700;
}

.newsstand .newsstand_item_group {
  position: relative;
  height: 260px;
  border: 1px solid #d9e1e5;
}

.newsstand .newsstand_item_group .newsstand_item_list {
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.newsstand .newsstand_item_group .newsstand_items {
  float: left;
  width: 16.66%;
  height: 65px;
  border: 0.1px solid #e4e8eb;
  text-align: center;
}

.newsstand .thumb {
  display: block;
  padding: 23px 0 22px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* cast-title */
.cast_title {
  width: 735px;
  height: 314px;
  margin-top: 12px;
}

.cast_title .cast_group {
  padding: 22px 0 16px;
  height: 56px;
}

.cast_title .cast_group span {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.cast_title .cast_group .cast_list {
  display: inline-block;
  width: 100%;
}

.subject_all,
.subject_list,
.subject_prev,
.subject_next {
  float: left;
}

/* article-list */
.article_list {
  width: 735px;
  height: 314px;
  margin-top: 12px;
}

.article_list .article_title {
  padding: 22px 0 16px;
  height: 56px;
}

.article_list .article_title span {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.article_list .article_group {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.article_list .article_group .article_items {
  padding: 10px 0;
}

.article_list .article_group a {
  font-size: 16px;
  text-decoration: underline;
  color: #000;
}

.article_list .article_group a::visited {
  color: #000;
}

/* main-column-right */
.scr_right {
  float: right;
  width: 335px;
  margin-top: 16px;
}

.scr_login {
  width: 335px;
  padding: 12px 16px;
  background-color: #f7f9fa;
  border: 1px solid #e4e8eb;
}

.scr_login p {
  font-size: 12px;
  padding-left: 3px;
  color: grey;
}

.scr_login .link_login {
  display: block;
  padding: 15px 0;
  margin-top: 11px;
  background-color: #19ce60;
  border: 1px solid #15c654;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.scr_login .link_login .icon_naver {
  display: inline-block;
  width: 60px;
  height: 12px;
  margin: 2px 5px 0 0;
  vertical-align: top;
  background: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) -305px -299px
    no-repeat;
  background-size: 456px 434px;
}

.sub_area {
  display: inline-block;
  margin: 14px 8px 0 4px;
}

.sub_area .find_box .link_find {
  font-size: 12px;
  color: #404040;
}

.sub_area .find_box .link_join {
  position: relative;
  left: 155px;
  font-size: 12px;
  color: #404040;
}

.find_box span {
  font-size: 12px;
  color: #404040;
}

/* footer */
footer {
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
}

#footer_inner {
  width: 1150px;
  padding: 40px 70px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #e4e8eb;
  border-top: 1px solid #e4e8eb;
}
