extends ../layout

block content 
  section.login__container 
    h1.sr-only Login Page
    if errorMessage 
      span=errorMessage
    form(method="POST").input__form
      h2.form__title Login 
      input(name='username', type='text', placeholder='Enter a username', required)
      input(name='password', type='password', placeholder='Enter a password', required)
      input(type='submit', value='Log in')
      .hr__box
        hr.hr__bar
        span.hr__text OR
        hr.hr__bar
      .login__social 
        a(href="/users/github/start").login__social__link.git Login with Github
        a(href="/users/kakao/start").login__social__link.ka Login with KaKaoTalk
      .link__box
        span Don't have an account? 
        a(href='/join') Create one now
