extends ../layout 

block content 
  section.pw__container 
    h1.sr-only Change my password from the below form.
    h1=pageTitle
    if errorMessage 
      p=errorMessage
    form(method='post')
      input(type="password", name="current", placeholder='Enter current password' required)
      input(type="password", name="changed", placeholder='Enter new password' required)
      input(type="password", name="confirm", placeholder='Confirm new password' required)
      input(type="submit", value="Change Password")