extends ../layout 

block content 
  section.pw__container 
    h1.sr-only Change my password from the below form.
    if errorMessage 
      p=errorMessage
    .pw__box
      h1.pw__title=pageTitle
      form(method='post').pw__form
        label(for="current").pw__label.current Current Password
        input(type="password", name="current", placeholder='Enter current password' required).pw__input.current
        label(for="changed").pw__label.changed New Password
        input(type="password", name="changed", placeholder='Enter new password' required).pw__input.changed
        label(for="confirm").pw__label.confirm  Confirm Password
        input(type="password", name="confirm", placeholder='Confirm new password' required).pw__input.confirm
        input(type="submit", value="Change Password")