.edit__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: $bg;
  .edit__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    background-color: #e3e3e3;
    .edit__title {
      position: absolute;
      top: 25px;
      font-size: 30px;
      line-height: 1.1538461538;
      font-weight: 600;
    }
    .edit__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      font-size: 18px;
      line-height: 1.125;
      font-weight: 500;
      .edit__label {
        position: relative;
        top: 30px;
        right: 240px;
      }
      .edit__input {
        position: relative;
        top: 0;
        right: -60px;
        padding: 10px 15px;
        width: 70%;
      }
      input[type='submit'] {
        position: relative;
        top: 15px;
        right: 0;
        padding: 13px 15px;
        width: 88%;
        background-color: #e9e9ed;
        cursor: pointer;
        transition: all 500ms ease-in-out;
        &:hover {
          background-color: $red;
          font-weight: 600;
        }
      }
    }
  }
}
