.pw__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  color: $bg;
  .pw__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 400px;
    border-radius: 20px;
    background-color: #e3e3e3;
    .pw__title {
      position: absolute;
      top: 20px;
      font-size: 30px;
      line-height: 1.1538461538;
      font-weight: 600;
    }
    .pw__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      .pw__label {
        position: relative;
        top: 32px;
        right: 220px;
        font-size: 18px;
        line-height: 1.125;
        font-weight: 500;
      }
      .pw__input {
        position: relative;
        top: 0;
        right: -85px;
        padding: 10px 15px;
        width: 65%;
      }
      input[type='submit'] {
        position: relative;
        top: 50px;
        width: 85%;
        padding: 7px 13px;
        background-color: #e9e9ed;
        text-align: center;
        cursor: pointer;
        transition: all 500ms ease-in-out;
        &:hover {
          background-color: $red;
          font-weight: 600;
        }
      }
    }
  }
}
