extends ../layout
include ../mixins/video

block content 
  section.search__container 
    h1.sr-only Search videos by keywords and uploaded years
    form(method='GET').search__form
      fieldset 
        h1 Searched by: #{keyword ? keyword : year}
        .search__form__input
          input(type="text", name="keyword", placeholder='Search by keyword')
          input(type="number", name="year", placeholder='Search by year')
          input(type="submit", value="Search Now")
    section.search__result__container 
      h1.search__result Search Results: #{keywords.length}
      .videos__grid
        each item in keywords 
          +video(item)
        else 
          span.empty__message No Videos Found.