extends ../layout 

block content 
  section.upload__container 
    h1.sr-only Upload a video from the below form.
    if errorMessage 
      p=errorMessage
    .upload__box
      h1.upload__title Upload your videos.
      form(method='post', enctype='multipart/form-data').upload__form
        label(for='title').upload__label.title Title
        input(name='title',id='title', placeholder='Title', required, type='text', maxlength='50').upload__input.title
        label(for='description').upload__label.description Description
        input(name='description',id='description', placeholder='Description', required, type='text', minlenth='20').upload__input.description
        label(for='hashtags').upload__label.hashtags Hashtags
        input(name='hashtags',id='hashtags', placeholder='Required comma between words without space', required, type='text').upload__input.hashtags
        label(for="video").upload__label.video Video File
        input(type="file", name="video", id='video', accept='video/*', required).upload__input.video
        input(type='submit', value='Upload Video')