extends ../layout

block content
  video(src='/' + video.fileUrl, controls, width='85%')
  div 
    p=video.description
    small=video.createdAt
  a(href=`${video.id}/edit`) Edit
  br
  a(href=`${video.id}/delete`) Delete 